body {
    background-color: white;
    font-family: Malina-Light; 
}
@font-face {
    font-family: Malina-Light;
    src: url(font/Malina_Light.ttf);
    } 
.cont {
    display: none;
}
.show {
    margin: auto;
    width: 400px;
}
ul {
    margin-left: -40px; 
}
h1, h2 {
    text-align: center;
}
li {
    list-style: none;
    font-weight: bold;
    background-color: #6EAF25;
    border: 2px solid black;
    font-size: 21px;
    text-align: center;
    color: white;
    width: 400px;
}
li:hover {
    background-color: #FECB00;
    color: black;
}
.hidden {
    display: none;
}
.cont-main {
    margin: 0 auto;
    height: 400px;
    width: 400px;
}
p {
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
    border: 2px solid black;
    width: 400px;
    background-color: #006C35;
    color: white;
    text-align: center;
}
#play{
    background-color: #34b1b0;
    border: 1px none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 33px;
}
#result {
    background-color: #34b1b0;
    border: 1px none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 33px;
    width: 100px;
    /*margin-left: 467px;*/
}
#result:hover {
    background-color: #006C35;
}
#play:hover {
    background-color: #006C35;
}